html {
	min-height: 100%;
	position: relative;
}
body {
	height: 100%;
    background-color: #121119;
}

div {
	position:absolute;
	margin:0;
}
span {
	position:absolute;
	margin:0;
}

#gamecontainer {
	/* makes it fullscreen */
	width: 100vw; 
    height: 75vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 133.33vh; /* 16/9 = 1.778 */
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    overflow:hidden;
    z-index:-1;
    /* stretch to fit screen*/
    background-image: url(images/splashscreen.png);
    background-size:     100% 100%;
    background-repeat:   no-repeat;
    background-position: center center;
    background-color: #121119;
    border-style: solid;
    border-color: white;
}
.gamelayer {
	/* makes it fullscreen */
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
    height: 100%;
	width: 100%;
}

#menuscreen #title {
	top: 37%;
	left: 31%;
	width: 38%;
	height: 26%;
	margin:0;
}

#menuscreen span {
	font-family: Georgia, Georgia, serif;
	font-size: 6vmin;
	cursor: pointer;
	color: white;
	text-shadow: -4px 4px 0px rgba(50, 75, 50, 0.83);
}

#menuscreen #mainmenu {
	top: 34%;
	left: 30.5%;
	width: 39%;
	height: 35%;

	background-image: url(images/textbox.png);
    background-size:     100% 100%;
    background-repeat:   no-repeat;
    background-position: center center;
}

#menuscreen #mainmenu #singleplayer{
    right: 9%;
    left: 14%;
    top: 9%;
}

#menuscreen #mainmenu #multiplayer{
    right: 9%;
    left: 14%;
    top: 32%;
    color: gray;
}

#gamescreen {
    background-color: #121119;
}