html {
	min-height: 100%;
	position: relative;
}
body {
	height: 100%;
    background-color: #121119;
}

div {
	position:absolute;
	margin:0;
}
span {
	position:absolute;
	margin:0;
}

#gamecontainer {
	/* makes it fullscreen */
	width: 100vw; 
    height: 75vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 133.33vh; /* 16/9 = 1.778 */
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    overflow:hidden;
    z-index:-1;
    /* stretch to fit screen*/
    background-image: url(images/splashscreen.png);
    background-size:     100% 100%;
    background-repeat:   no-repeat;
    background-position: center center;
    background-color: #121119;
    border-style: solid;
    border-color: white;
}
.gamelayer {
	/* makes it fullscreen */
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
    height: 100%;
	width: 100%;
}

#menuscreen #title {
	top: 37%;
	left: 31%;
	width: 38%;
	height: 26%;
	margin:0;
}

#menuscreen span {
	font-family: Georgia, Georgia, serif;
	font-size: 6vmin;
	cursor: pointer;
	color: white;
	text-shadow: -4px 4px 0px rgba(50, 75, 50, 0.83);
}

#menuscreen #mainmenu {
	top: 34%;
	left: 30.5%;
	width: 39%;
	height: 35%;

	background-image: url(images/textbox.png);
    background-size:     100% 100%;
    background-repeat:   no-repeat;
    background-position: center center;
}

#menuscreen #mainmenu #singleplayer{
    right: 9%;
    left: 14%;
    top: 9%;
}

#menuscreen #mainmenu #multiplayer{
    right: 9%;
    left: 14%;
    top: 32%;
    color: gray;
}

#gamescreen {
    background-color: #121119;
}

.cardholder {
	background-image: url(images/cards/neutral/0003_timely_messenger.gif);
    background-size:     100% 100%;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 20%;
    width: 10%;
}

#gamescreen #patrol10{
	background-image: url(board/patrol0.png);
    top: 40%;
    left: 30%;
}
#gamescreen #patrol11{
	background-image: url(board/patrol1.png);
    top: 40%;
    left: 40%;
}
#gamescreen #patrol12{
	background-image: url(board/patrol2.png);
    top: 40%;
    left: 50%;
}
#gamescreen #patrol13{
	background-image: url(board/patrol3.png);
    top: 40%;
    left: 60%;
}
#gamescreen #patrol14{
	background-image: url(board/patrol4.png);
    top: 40%;
    left: 70%;
}

#gamescreen #patrol20{
	background-image: url(board/patrol0.png);
    top: 20%;
    left: 30%;
}
#gamescreen #patrol21{
	background-image: url(board/patrol1.png);
    top: 20%;
    left: 40%;
}
#gamescreen #patrol22{
	background-image: url(board/patrol2.png);
    top: 20%;
    left: 50%;
}
#gamescreen #patrol23{
	background-image: url(board/patrol3.png);
    top: 20%;
    left: 60%;
}
#gamescreen #patrol24{
	background-image: url(board/patrol4.png);
    top: 20%;
    left: 70%;
}

#gamescreen #hand0{
    top: 80%;
    left: 30%;
}
#gamescreen #hand1{
    top: 80%;
    left: 40%;
}
#gamescreen #hand2{
    top: 80%;
    left: 50%;
}
#gamescreen #hand3{
    top: 80%;
    left: 60%;
}
#gamescreen #hand4{
    top: 80%;
    left: 70%;
}

#gamescreen #discard1{
	background-image: url(images/cards/back.jpg);
    top: 40%;
    left: 90%;
}
#gamescreen #discard2{
	background-image: url(images/cards/back.jpg);
    top: 20%;
    left: 90%;
}

#gamescreen #deck1{
	background-image: url(images/cards/back.jpg);
    top: 60%;
    left: 90%;
}
#gamescreen #deck2{
	background-image: url(images/cards/back.jpg);
    top: 0;
    left: 90%;
}

#gamescreen #hero10{
    top: 40%;
    left: 0;
    background-image: url(board/hero.png);
}
#gamescreen #hero11{
    top: 40%;
    left: 10%;
    background-image: url(board/hero.png);
}
#gamescreen #hero12{
    top: 40%;
    left: 20%;
    background-image: url(board/hero.png);
}

#gamescreen #hero20{
    top: 20%;
    left: 0;
    background-image: url(board/hero.png);
}
#gamescreen #hero21{
    top: 20%;
    left: 10%;
    background-image: url(board/hero.png);
}
#gamescreen #hero22{
    top: 20%;
    left: 20%;
    background-image: url(board/hero.png);
}

#gamescreen #worker1{
	background-image: url(images/cards/neutral/worker4.png);
    top: 60%;
    left: 0;
}
#gamescreen #worker1 #value{
    top: 54%;
    left: 3%;
    width: 41%;
    height: 23%;
    background-color: gray;
    text-align: center;
    font-size: 3vmin;
}

#gamescreen #worker2{
	background-image: url(images/cards/neutral/worker5.png);
    top: 0;
    left: 0;
}
#gamescreen #worker2 #value{
    top: 54%;
    left: 3%;
    width: 41%;
    height: 23%;
    background-color: gray;
    text-align: center;
    font-size: 3vmin;
}

#gamescreen #cardzoom{
    top: 20%;
    left: 0;
    height: 40%;
    width: 20%;
}

.baseui {
    background-size:     100% 100%;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 5%;
    width: 7.5%;
}

#gamescreen #base1{
	background-image: url(board/base.png);
    left: 10%;
    top: 75%;
}
#gamescreen #base1 #health{
    left: 61%;
    top: 28%;
    width: 31%;
    height: 41%;
    background-color: red;
    text-align: center;
    font-size: 2vmin;
}
#gamescreen #tech1_1{
	background-image: url(board/tech1.png);
    left: 10%;
    top: 70%;
}
#gamescreen #tech1_1 #health{
    left: 69%;
    top: 6%;
    width: 25%;
    height: 35%;
    background-color: red;
    text-align: center;
    font-size: 2vmin;
}
#gamescreen #tech2_1{
	background-image: url(board/tech2.png);
    left: 10%;
    top: 65%;
}
#gamescreen #tech2_1 #health{
    left: 69%;
    top: 6%;
    width: 25%;
    height: 35%;
    background-color: red;
    text-align: center;
    font-size: 2vmin;
}
#gamescreen #tech3_1{
	background-image: url(board/tech3.png);
    left: 10%;
    top: 60%;
}
#gamescreen #tech3_1 #health{
    left: 69%;
    top: 6%;
    width: 25%;
    height: 35%;
    background-color: red;
    text-align: center;
    font-size: 2vmin;
}

#gamescreen #base2{
	background-image: url(board/base.png);
    left: 10%;
    top: 15%;
}
#gamescreen #base2 #health{
    left: 61%;
    top: 28%;
    width: 31%;
    height: 41%;
    background-color: red;
    text-align: center;
    font-size: 2vmin;
}

#gamescreen #tech1_2{
	background-image: url(board/tech1.png);
    left: 10%;
    top: 10%;
}
#gamescreen #tech1_2 #health{
    left: 69%;
    top: 6%;
    width: 25%;
    height: 35%;
    background-color: red;
    text-align: center;
    font-size: 2vmin;
}
#gamescreen #tech2_2{
	background-image: url(board/tech2.png);
    left: 10%;
    top: 5%;
}
#gamescreen #tech2_2 #health{
    left: 69%;
    top: 6%;
    width: 25%;
    height: 35%;
    background-color: red;
    text-align: center;
    font-size: 2vmin;
}
#gamescreen #tech3_2{
	background-image: url(board/tech3.png);
    left: 10%;
    top: 0%;
}
#gamescreen #tech3_2 #health{
    left: 69%;
    top: 6%;
    width: 25%;
    height: 35%;
    background-color: red;
    text-align: center;
    font-size: 2vmin;
}

#gamescreen #infobox{
    left: 0;
    top: 80%;
    width: 30%;
    height: 20%;
	font-family: Georgia, Georgia, serif;
	font-size: 2vmin;
	color: white;
	border-color:white;
	border-style: solid;
}
/*
#gamescreen #board{
	background-image: url(board/board.png);
    background-size:     100% 100%;
    background-repeat:   no-repeat;
    background-position: center center;
    left: 0;
    top: 60%;
    height: 40%;
    width: 30%;
}*/